---
# Nginx setup script
- name: Nginx main config
  template:
    src: "{{ main_nginx_config }}"
    dest: /etc/nginx/nginx.conf
    owner: root
    group: root
    mode: 0644
  notify: Reload nginx

- name: Make sites-enabled directory
  file:
    path: /etc/nginx/sites-enabled
    state: directory

- name: Make conf.d directory
  file:
    path: /etc/nginx/conf.d
    state: directory

- name: Delete default site
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent


- name: Nginx main includes
  copy:
    src: conf.d/
    dest: /etc/nginx/conf.d/
    owner: root
    group: root
    mode: 0644
  notify: Reload nginx

- name: Nginx include configs
  template:
    src: "{{ item }}"
    dest: /etc/nginx/conf.d
    owner: root
    group: root
    mode: 0644
  notify: Reload nginx
  with_fileglob:
    - "{{ nginx_config_files }}/*.inc"

- name: Nginx main enabled sites
  template:
    src: "{{ item }}"
    dest: /etc/nginx/sites-enabled
    owner: root
    group: root
    mode: 0644
    force: yes
    backup: yes
  notify: Reload nginx
  with_fileglob:
    - "{{ nginx_config_files }}/*main.conf"

- name: Nginx upstream enabled sites
  template:
    src: "{{ item }}"
    dest: "/etc/nginx/sites-enabled/"
    owner: root
    group: root
    mode: 0644
    force: no
  notify: Reload nginx
  with_fileglob:
      - "{{ nginx_config_files }}/*upstream.conf"

- name: Nginx static enabled sites
  template:
    src: "{{ item }}"
    dest: /etc/nginx/sites-enabled
    owner: root
    group: root
    mode: 0644
    force: yes
  notify: Reload nginx
  with_fileglob:
      - "{{ nginx_config_files }}/*static.conf"

- name: Nginx custom includes
  template:
    src: "{{ item }}"
    dest: /etc/nginx/conf.d
    owner: root
    group: root
    mode: 0644
    force: yes
  notify: Reload nginx
  with_fileglob:
      - "{{ nginx_config_files }}/*include.conf"

- name: Allow HTTP
  ufw:
    port: 80
    proto: tcp
    rule: allow

- name: Allow HTTPS
  ufw:
    port: 443
    proto: tcp
    rule: allow
