---

- name: Install python-apt
  apt:
    name: python-apt
    state: present
    force: yes

- name: Add nginx repo
  apt_repository:
    repo: "{{ nginx_ubuntu_repo }}"
    state: present
    mode: 0644
  when:
    - ansible_lsb.major_release|int <= 18

- name: Install nginx
  apt:
    name: "{{ nginx_ubuntu_packages }}"
    state: latest
    force: yes
  notify: Start nginx
